@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f9fafe;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--foreground-rgb));
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Set width to zero by default */
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 6px; /* Adjust as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Adjust as needed */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Adjust as needed */
}
